<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../static/partials/head'); -%>
</head>
<body>
   <!-- Navigation -->
   <%- include('../static/partials/navbar'); -%>
   <!-- Page Content -->
   <main class="container">
      <%- include('../static/partials/messages.ejs') -%>
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
         <h1 class="display-3">Welcome to Blocipedia!</h1>
         <p class="lead">An application where users can create wikis!</p>
         <a href="users/signup" class="btn btn-primary btn-lg">Sign Up</a>
      </header>
      <!-- Page Features -->
      <!-- End Page Features -->
   </main>
   <!-- End of Page Content -->
   <%- include('../static/partials/baseScripts'); -%>
</body>
</html>